/*
Mario Franchi
Web and Distributed Programming
Landing Page CSS Sheet
Fall 2019
*/

body{
	background-color: #80c28f;
}

h1{
	text-align: center;
}

p{
	text-align: center;
	font-size: 20px;
}

#lefty{
	width: 49%;
	float: left;
	text-align: center;
	border-radius: 15px;
	background-color: white;
	font-family: arial;
	padding: 2px;
}

#righty{
	width: 49%;
	float: right;
	text-align: center;
	border-radius: 15px;
	background-color: white;
	font-family: arial;
	padding: 2px;
}

